.appBar {
  background-color: white;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.menuAndTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerText {
  color: #50727b;
  cursor: pointer;
}

.menuItemContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.hyperlink {
  text-decoration: none;
  color: #50727b;
}
