.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.image {
  position: relative;
  width: calc(100vw - 32px);
  height: calc(100vw - 32px);
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.description {
  font-size: 14px;
  text-overflow: ellipsis;
}

.price {
  font-size: 18px;
  font-weight: 700;
}
