.square {
  position: relative;
  width: 100%;
  height: 20vh;
  border: 1px solid #344955;
  border-radius: 8px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: auto;
  padding: 20px;
  height: auto;
}

.text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}
